.mx_button {
    position: relative;
    color: var(--color-5);
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid var(--color-3);
    padding: 0.5em 1em;
    cursor: pointer;
  
    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
  }
.mx_button::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: var(--color-0);
    height: 0.3em;
    right: 20%;
    top: -0.21em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.mx_button::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: var(--color-0);
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.mx_button:hover::before {
    right: 80%;
}
.mx_button:hover::after {
    left: 80%;
}

/* Glass Button */

.mx_glass_button,
.mx_glass_button_selected {
    padding: 10px 15px;
    height: fit-content;

    color: var(--color-5);
    border: 1px solid var(--color-0);
    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);

    cursor: pointer;
}
.mx_glass_button:hover,
.mx_glass_button_selected {
    background: var(--color-0);
    color: var(--color-3);
}

.mx_glass_button_selected {
    background: var(--color-0);
}

/* Simple Button */

.mx_simple_button {
    height: fit-content;
    padding: 5px;

    color: var(--color-5);
    outline: 0;
    border: 1px solid var(--color-3);
    background: transparent;

    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.mx_simple_button:hover {
    color: var(--color-3);

    border-image: linear-gradient(to right, var(--color-2), var(--color-3));
    border-image-slice: 1;
}