/* Base HTML Properties */

:root {
  --mx-white: #fefefefe;
  --mx-color-bg: radial-gradient(var(--color-0), var(--color-1));

  --color-0: #14262d;
  --color-1: #1A1A1B;
  --color-2: #333F44;
  --color-3: #37AA9C;
  --color-4: #94F3E4;
  --color-5: #E4E4E4;

  --mx-blur-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.712);
  --mx-blur-shadow-clear: 0 0 0.5rem 0;
  --mx-blur-filter: saturate(180%) blur(10px);
  --mx-blur-bg: #25353d9a;
  --mx-blur-bg-dark: #25353d;
}

html,
body,
textarea {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--color-3)
}

* {
  color: var(--color-5);
  box-sizing: border-box;
}

/* Webkit */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-2); 
}

::-webkit-scrollbar-thumb {
  background: var(--color-3); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-4); 
}

/* Decorators */

.center {
  margin: auto;
}

.box {
  position: absolute;

  width: 100%;
  height: 100%;
  z-index: 1;
}

.right {
  margin-left: auto;
}

/* Global Page Properties */

.page-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  color: var(--mx-white);
  background: var(--mx-color-bg);
}

.page-wrapper { 
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95vw;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.page-wrapper-full {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95vw;
  height: 95vh;
  margin: 0 auto;
  padding: 0;
}

.motd {
  height: 200px;
  width: 300px;
  padding: 20px;
  text-align: center;

  border: 1px solid var(--color-3);
  
  box-shadow: var(--mx-blur-shadow);
  background: var(--mx-blur-bg);
  backdrop-filter: var(--mx-blur-filter);
  z-index: 2;
}

/* Input */

.mx-input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mx-input {
  width: 100%;

  position: relative;
  padding: 15px 0 0;

  border: 0;
  outline: 0;
  border-bottom: 3px solid gray;
  
  font-size: 1.3rem;
  color: white;
  background: transparent;

  transition: all 0.25s;
}
.mx-input::placeholder {
  color: transparent;
}

.mx-input:placeholder-shown ~ label {
  display: block;
  font-size: 1.4rem;
  cursor: text;
  top: 10px;
}
.mx-input + label {
  position: absolute;
  top: -5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--color-5);
}
.mx-input:focus {
  border-width: 3px;
  border-image: linear-gradient(to right, var(--color-2), var(--color-3));
  border-image-slice: 1;
}
.mx-input:focus + label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  font-size: 0.8rem;
  color: var(--color-4);
  font-weight:700;
}