.mx_inventory_wrapper {
    position: relative;
    display: flex;
    height: 100%;
}

.mx_inventory_page {
    position: relative;
    width: 90%;
    height: 97%;
    margin: auto;
    margin-bottom: 0;
    padding: 15px;

    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
}

.mx_inventory_header {
    display: flex;
    gap: 20px;
}

.mx_inventory_page_body {
    display: flex;
    width: 100%;
    height: 90%;
    margin-top: 10px;
    gap: 20px;
}

.mx_inventory_page_body_cats {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;

    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
}

.mx_inventory_page_body_cats button {
    height: 50px;
    box-shadow: none;
}

.mx_inventory_page_body_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
}

.mx_inventory_history {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5%;
    width: 95vw;
    height: 80vh;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    box-shadow: var(--mx-blur-shadow-clear) var(--color-3);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
}

.mx_inventory_history_list {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1.5%;
}

.mx_inventory_history_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    height: fit-content;

    border: 1px solid var(--color-3);
}

.mx_inventory_history_item_list {
    padding: 0 20px;
    border-left: 1px solid var(--color-3);
}

.mx_inventory_history_item_list h1 {
    margin: 0;
    margin-bottom: 10px;
}

.mx_inventory_page_body_container {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    gap: 1.25%;
    padding: 10px;

    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.mx_inventory_page_body_container_item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 5px 10px;

    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
}

.mx_inventory_page_body_container_item h1 {
    margin: 0;
    width: 80%;
    word-wrap: break-word;
}

.mx_inventory_page_body_container_item > div {
    display: flex;
    margin: 0;
    margin-top: auto;
    overflow: auto;
    text-overflow: ellipsis;
}

.mx_inventory_page_body_container_item h2 {
    margin: 0;
    width: 90%;
    font-weight: normal;
}

.mx_inventory_page_body_container_item h3 {
    position: absolute;
    top: 50%;
    left: 10px;

    margin: 0;
}

.mx_inventory_page_body_container_item .mx_icons {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 10px;
    right: 10px;
    font-size: 1.1rem;
}

.mx_inventory_page_body_container_item .mx_icons i {
    cursor: pointer;
}

.mx_inventory_page_body_container_item .mx_icons i:hover {
    color: var(--color-3);
}

.mx_subitem_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 250px;
    overflow-y: auto;

    border: 1px solid var(--color-3);
}

.mx_subitem_list > div {
    position: relative;
    padding: 10px;
    border: 1px solid var(--color-3);
}

.mx_subitem_list p {
    margin: 0;
}

.mx_subitem_list button {
    position: absolute;
    top: calc(50% - 30px / 2);
    right: 5px;
}

.mx_inventory_checkout_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    font-size: 1.1rem;
    overflow-y: auto;
}

.mx_inventory_checkout_list p {
    margin: 0;
}

.mx_inventory_input {
    display: flex;
    width: 250px;
    padding: 15px;
    text-align: center;

    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
    z-index: 1;
}

.mx_inventory_input p {
    margin: 0 auto;
}

.mx_inventory_input button {
    margin: auto 0;
}

/* Admin Inventory */

.mx_inventory_body_admin {
    display: flex;
    height: 85%;
    margin-top: 40px;
}

.mx_inventory_body_admin_cat {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 250px;

    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
}

.mx_inventory_body_admin_cat_list {
    display: flex;
    flex-direction: column;
    height: 100%;

    overflow-y: auto;
}

.mx_inventory_body_admin_cat_btn {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: auto;
}

.mx_inventory_body_admin_cat_body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 25px;
    margin-right: 10px;

    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
}

.mx_inventory_body_admin_cat_body_head {
    display: flex;
    height: 60px;
    padding: 10px;
    text-align: center;

    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg);
    backdrop-filter: var(--mx-blur-filter);
    z-index: 1;
}
.mx_inventory_body_admin_cat_body_head button {
    position: absolute;
    right: 20px;
    height: 40px;
}
.mx_inventory_body_admin_cat_body_head p {
    width: fit-content;
    margin: auto;
}

.mx_inventory_body_admin_cat_body_body {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mx_inventory_body_admin_cat_body_body h2 {
    margin-top: auto;
    margin-bottom: 0;
}

.mx_inventory_body_admin_cat_body_body_fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mx_inventory_body_admin_cat_body_body_fields_item {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    gap: 10px;
}

.mx_inventory_body_admin_cat_body_body_fields_item button {
    margin-top: auto;
}