.mx_list {
    position: relative;
    width: 100%;
}

.mx_list:hover .mx_list_container {
    max-height: 300px;
}

.mx_list_head {
    display: flex;
}
.mx_list button {
    margin-top: auto;
    width: fit-content;
}

.mx_list_container {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-height: 0;
    width: 100%;
    overflow-y: auto;
    
    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg-dark);
    backdrop-filter: var(--mx-blur-filter);

    transition: all 0.35s;
}

.mx_list_item {
    display: flex;
    border: none;
    text-align: left;
    color: var(--color-5);
    padding: 7px;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    
    transition: all .25s;
}
.mx_list_item:hover {
    color: var(--color-3);
    box-shadow: var(--mx-blur-shadow);
    background: var(--color-0);
    backdrop-filter: var(--mx-blur-filter);
}

.mx_list_item p {
    margin: auto 0;
}

.mx_list_item button {
    margin-left: auto;
}