.mx_select {
    position: relative;
    width: 100%;
    margin-top: auto;
    height: fit-content;
}

.mx_select input {
    width: 100%;
}

.mx_select input:focus ~ .mx_select_container,
.mx_select:hover .mx_select_container {
    max-height: 300px;
}

.mx_select_container {
    display: flex;
    z-index: 100;
    flex-direction: column;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    max-height: 0px;

    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg-dark);
    backdrop-filter: var(--mx-blur-filter);

    transition: all 0.25s ease-in-out;
}

.mx_select_item {
    display: flex;
    color: white;
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.mx_select_item:hover {
    box-shadow: var(--mx-blur-shadow);
    background: var(--mx-blur-bg-dark);
    backdrop-filter: var(--mx-blur-filter);
    background-color: var(--color-0);
}

.mx_select_item p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin: auto 0;
}

.mx_select_body {
    color: var(--color-3);
}