.mx_wiki {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    height: 90vh;
    margin: auto;
}

.mx_wiki_body {
    width: 100%;
    height: 100%;

    box-shadow: var(--mx-blur-shadow);
    backdrop-filter: var(--mx-blur-filter);
}